input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    /* margin-bottom: 10px; */
}

input:focus {
    outline: none;
    /* border-color: #007bff; */
}

img {
    /* max-width: 100%; */
    height: 100%;
    max-height: 30vh;
    margin: 10px 0;
}

.edit-post-form {
    display: flex;
    gap: 20px;
}

.inputs {
    display: flex;
    flex-direction: column;
    width: 19rem;

    > textarea, > input {
        margin: 2px 0;
    }
}

.image-and-button {
    display: flex;
    flex-direction: column;
}