

input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    /* margin-bottom: 10px; */
}

input:focus {
    outline: none;
    /* border-color: #007bff; */
}

img {
    max-width: 100%;
    height: auto;
    margin: 10px 0;
}