.navbar {
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    align-items: center; 
    list-style: none;
    margin: 0; 
    padding: 0; 
}

.navbar-item {
    display: grid;
    justify-items: start;
}

.nav-link {
    color: white; 
    text-decoration: none; 
    font-size: 2.33rem;
    font-weight: bold;
    font-family: 'Bonheur Royale', cursive;
    padding: 8px 16px;
}

.tags-list {
    width: min-content;
    display: flex;
    gap: 6px;
    margin-top: 1px;
    margin-bottom: 1px;
    list-style: none;
    flex-wrap: nowrap;
    overflow-x: auto;
    /* padding: 4px 0; */

    &::-webkit-scrollbar {
        height: 4px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: #adaaaa;
        border-radius: 15px;
    }

    > .tag {
        font-size: 15px;
        padding: 1px 9px;
        border: 1px solid #555;
        border-radius: 12px;
        color: white;
        background-color: transparent;
        white-space: nowrap;
    }

    > .tag.filtered {
        border: 1px solid yellow;
    }
}

/*//! ==== OpenModalItem == TODO: NEST styles so dropdown doesnt conflict with navbar items*/
li {
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    /* text-align: center; */
}

/* li:hover {
    background-color: #f0f0f0;
} */
/*//! ================================================== */